span.autocompleter-help.warning {
	color: #d42;
}

div.autocompleter-popup {
	overflow: auto;
	max-height: 400px;
	margin: 0px none;
	margin-top: 0.4em;
	padding: 0px;
	border: 0px none;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

div.autocompleter-popup ul, div.autocompleter-popup ul li {
	margin: 0px;
	padding: 0px;
}
div.autocompleter-popup ul, div.autocompleter-popup li {
	list-style: none !important;
}

div.autocompleter-popup .item {
	margin: 0px auto;
	padding: 5px;
	border: 0px none;
	border-bottom: 1px solid #000;
}
div.autocompleter-popup .item:last-child {
	border-bottom: 0px none;
}

div.autocompleter-popup .item.highlighted {
	background: #E6E6E5;
	color: #222;
}

@keyframes loading {
	0% {
		padding: 0px;
	}
	50% {
		padding: 0px 50px;
	}
	100% {
		padding: 0px;
	}
}
@-webkit-keyframes loading {
	0% {
		padding: 0px;
	}
	50% {
		padding: 0px 50px;
	}
	100% {
		padding: 0px;
	}
}
div.autocompleter-popup p.loading {
	margin: 0px;
	padding: 0px;
	content: '...';
	color: #fff;
	animation-name: loading;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

div.autocompleter-popup p.debug {
	display: none;
}
div.autocompleter-popup.debug p.debug {
	display: block;
	background: rgba(255, 128, 128, 0.3);
}
